/*

Title: I Love Tea!
By: Crystal McDonald
For: VFW 1110
Assignment: Project 2
Date: September 1, 2011

*/

/* Make it look like an iPhone */
body{font-family: Arial, Helvetica, san-serif;width: 571px;margin: auto;padding: 10px;}
#site-wrapper{background: url(../img/iphoneBG.jpg) no-repeat;height: 885px; padding-top:25;}
#content{width: 480px;height: 690px;overflow: scroll;}
  <link rel="stylesheet" href="additem.html" type="text/css" />
/*
h1 {
	margin: 20px;
	border: 1px solid #000000;
/*
	margin: value goes here;
	padding: ;
	border: ;
	outline: ;
	width: ;
	height: ;
	display: ;
	overflow: ;
	visibility: ;
	word-wrap: ;
*/
}
html {
    background-color: #c6aaay;
}
body {
    font-family: "Lucida Grande", "Arial", sans-serif;
    margin: 1.5em auto;
    padding: 1.5em;
    background-color: white;
    color: #4D4B39;
    max-width: 35em;
    border: 0.75em solid #b9bab5;
    line-height: 1.5em;
}
p {
    margin: 1.5em 0;
}
h1 {
    background-color: #f9d6df;
    color: #583935;
    font-size: 200%;
    padding: 0.75em;
    margin: -0.75em -0.75em 0.75em -0.75em;
}
h2 {
    background-color: #f9d6df;
    color: #936555;
    font-size: 150%;
    padding: 1em;
    margin: -1em -1em 1em -1em;
}
h1 + h2 {
    margin-top: -2em;
    padding-top: 0;
}
